<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
        <h4>All items list</h4>
        <ul class="list-group">
          <a
          class="list-group-item"
          *ngFor="let item of itemsArray"
          (onclick)="onClickAction(item.sku)"
          >
              <span class="badge">{{item.quantity}}</span>
              {{item.name}}
          </a>
        </ul>
      </div>
      <div class="col-lg-5">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>


