<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <nav class="navbar navbar-default">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        routerLink="">
                        Home
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLinkActive="active"
                        routerLink="/items">
                        Items list
                      </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
