<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <nav class="navbar navbar-default">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Items list</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-10">
            <app-home></app-home>
            <app-items-list></app-items-list>
        </div>
    </div>
</div>